.card_container {
  width: 150px;
  border: 1px solid #000;
  border-radius: 5px;

  .card_content {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .card_id {
      display: flex;
      justify-content: end;
    }

    .card_description_pokemon {
      display: flex;
      align-items: center;
      flex-direction: column;

      .card_description {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        .card_button_add {
          margin-top: 10px;

          button {
            padding: 5px 10px;
            background-color: var(--purple);
            border: none;
            border-radius: 5px;
            color: #fff;
            transition: 0.2s;

            &:hover {
              background-color: var(--purple-dark);
            }
          }
        }
      }
    }
  }
}
