.mini_cart_icon-container {
  position: relative;
  display: flex;
  justify-content: center;

  button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    background: transparent;
    border: none;

    .mini_cart_icon-quantity {
      position: absolute;
      color: #fff;
      top: 1%;
      margin-left: 3px;
    }

    .material-symbols-outlined {
      color: #fff;
    }
  }
}
